
@import url('https://fonts.googleapis.com/css?family=Audiowide');

body {

    color: white;
    font-family: 'Audiowide', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 101vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logos {
    display: flex;
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 400ms;
}

.logo:nth-child(4) {
    transition-delay: 600ms;
}

.logo {
    background-color: grey;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 0.5rem;
}

.card {
    position: relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;
}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    clip-path: circle(120px at center);
    transition: 0.5s;
}
.card:hover .circle:before {
    background: orange;
    clip-path: circle(400px at center);
}
.card img 
{
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-50, -50%);
    height: 250px;
    pointer-events: none;
    transition: 0.5s;
}
.card:hover img {
    top: -20%;
    left: 35%;
    height: 450px;
} 
.card .content {
    position: relative;
    width: 50;
    padding: 20px 20px 20px 40px;
    transform: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
}
.card .content h2 {
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 5px;
}
.card .content p {
    color: white;
}
.card .content a {
    position: relative;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    background: white;
    color: black;

    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}